# Set URL for your scoped packages.
# @NAMESPACE:registry=https://npm.pkg.github.com
@OpenDurian:registry=https://npm.pkg.github.com

# Use GITHUB_TOKEN to publish packages associated with the workflow repository.
# //npm.pkg.github.com/:_authToken=TOKEN
//npm.pkg.github.com/:_authToken=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