$primary-color: #1F60AC;
$primary-hover-color: #3670B5;
$default-color: #1F60AC;
$default-hover-color: #3670B5;
$light-color: #f8f9fa;

/* Default */
$white-color: #FFFFFF;
$black-color: #000000;
$green-color: #1CB26B;
$yellow-color: #FFC72C;
$blue-color: #1F60AC;
$pink-color: #FF4D76;
$red-color: #EE443D;
$orange-color: #E88024;

$gray-50-color: #f9fafb;
$gray-100-color: #f3f4f6;
$gray-200-color: #e5e7eb;
$gray-300-color: #d1d5db;
$gray-400-color: #9ca3af;
$gray-500-color: #6b7280;
$gray-600-color: #4b5563;
$gray-700-color: #374151;
$gray-800-color: #1f2937;
$gray-900-color: #111827;

$green-50-color: #F4FBF8;
$green-100-color: #E8F7F0;
$green-200-color: #D2F0E1;
$green-300-color: #BBE8D3;
$green-400-color: #A4E0C4;
$green-500-color: #8DD9B5;
$green-600-color: #77D1A6;
$green-700-color: #60C997;
$green-800-color: #49C189;
$green-900-color: #33BA7A;

$yellow-50-color: #FFFCF4;
$yellow-100-color: #FFFAEA;
$yellow-200-color: #FFF4D5;
$yellow-300-color: #FFEFC0;
$yellow-400-color: #FFE9AB;
$yellow-500-color: #FFE396;
$yellow-600-color: #FFDD80;
$yellow-700-color: #FFD86C;
$yellow-800-color: #FFD256;
$yellow-900-color: #FFCD42;

$blue-50-color: #F3F7FB;
$blue-100-color: #E9F0F7;
$blue-200-color: #D2DFEE;
$blue-300-color: #BCD0E7;
$blue-400-color: #A5BFDE;
$blue-500-color: #8FB0D6;
$blue-600-color: #79A0CD;
$blue-700-color: #6390C5;
$blue-800-color: #4C80BD;
$blue-900-color: #3670B5;

$pink-50-color: #FFF6F8;
$pink-100-color: #FFEEF2;
$pink-200-color: #FFDBE4;
$pink-300-color: #FFCAD6;
$pink-400-color: #FFB8C8;
$pink-500-color: #FFA6BB;
$pink-600-color: #FF94AD;
$pink-700-color: #FF83A0;
$pink-800-color: #FF7191;
$pink-900-color: #FF5F84;

$red-50-color: #FEF5F5;
$red-100-color: #FEEDEC;
$red-200-color: #FCDAD8;
$red-300-color: #FAC7C5;
$red-400-color: #F8B4B1;
$red-500-color: #F7A29E;
$red-600-color: #F58F8B;
$red-700-color: #F47D78;
$red-800-color: #F16964;
$red-900-color: #F05751;

$orange-50-color: #FEF8F4;
$orange-100-color: #FDF3EA;
$orange-200-color: #FAE6D3;
$orange-300-color: #F9D9BE;
$orange-400-color: #F6CCA7;
$orange-500-color: #F4C092;
$orange-600-color: #F1B37C;
$orange-700-color: #EFA766;
$orange-800-color: #ED9950;
$orange-900-color: #EB8D3A;