@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-thin-webfont.eot');
    src: url('../fonts/ibmplexsansthai-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-thin-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-thin-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-thin-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-thin-webfont.svg#ibm_plex_sans_thaithin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-extralight-webfont.eot');
    src: url('../fonts/ibmplexsansthai-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-extralight-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-extralight-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-extralight-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-extralight-webfont.svg#ibm_plex_sans_thaiextralight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-light-webfont.eot');
    src: url('../fonts/ibmplexsansthai-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-light-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-light-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-light-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-light-webfont.svg#ibm_plex_sans_thailight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-regular-webfont.eot');
    src: url('../fonts/ibmplexsansthai-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-regular-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-regular-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-regular-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-regular-webfont.svg#ibm_plex_sans_thairegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-medium-webfont.eot');
    src: url('../fonts/ibmplexsansthai-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-medium-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-medium-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-medium-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-medium-webfont.svg#ibm_plex_sans_thaimedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-semibold-webfont.eot');
    src: url('../fonts/ibmplexsansthai-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-semibold-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-semibold-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-semibold-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-semibold-webfont.svg#ibm_plex_sans_thaisemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-bold-webfont.eot');
    src: url('../fonts/ibmplexsansthai-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-bold-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-bold-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-bold-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-bold-webfont.svg#ibm_plex_sans_thaibold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans_thai';
    src: url('../fonts/ibmplexsansthai-bold-webfont.eot');
    src: url('../fonts/ibmplexsansthai-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsansthai-bold-webfont.woff2') format('woff2'),
         url('../fonts/ibmplexsansthai-bold-webfont.woff') format('woff'),
         url('../fonts/ibmplexsansthai-bold-webfont.ttf') format('truetype'),
         url('../fonts/ibmplexsansthai-bold-webfont.svg#ibm_plex_sans_thaibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.underline {
    text-decoration: underline;
}
.line-through {
    text-decoration-line: line-through;
}
.uppercase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
