/* Headings */
h1 {
    font-size: 1.25rem;
    font-weight: bold;
    color: $gray-900-color;
}
h2 {
    font-size: 1.125rem;
    font-weight: 600;
    color: $gray-900-color;
}
h3 {
    font-size: 1rem;
    font-weight: 600;
    color: $gray-600-color;
}
h4 {
    font-size: 0.875rem;
    font-weight: 600;
    color: $gray-900-color;
}
h5 {
    font-size: 0.875rem;
    font-weight: 500;
    color: $gray-900-color;
}
h6 {
    font-size: 0.75rem;
    font-weight: 400;
    color: $gray-400-color;
}
p {
    font-size: 0.875rem;
    font-weight: 400;
    color: $gray-500-color;
}
small {
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
    color: $gray-900-color;
}

.text-2xl, h1 big {
    font-size: 1.5rem;
}

.opd {
    &-list,
    &-list-icons,
    &-ordered-list {
        list-style-type: disc;
        list-style-position: inside;
        font-size: 0.875rem;
        font-weight: 400;
        color: $gray-500-color;
    }
    &-ordered-list {
        list-style-type: decimal;
    }
    &-list-icons {
        li {
            display: flex;
            align-items: center;
        }
    }
}